*{
    margin: 0;
    padding: 0;
}
body {
    background-color: #d8ab49;
}
.fullgame {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
}
.bigbox {
    width: 600px;
    height: 100vh;
    background-color: #70d165;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.headerr {
    display: flex;
    justify-content: center;
    /* color: #d8ab49; */
    color: #3a7034;
    /* color: #36656B; */
    font-size: 40px;
    font-weight: 900;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.game {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height: 310px;
    width: 350px;
    border: 4px solid transparent;
    border-radius: 5px; 
    background-color: #3a7034;
}

.box {
    width: 100px;
    height: 80px;
    border-radius: 4px;
    border: transparent;
    margin-right: 6px;
    background-color: #e0df75;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    font-size: 35px;
    text-align: center;
    font-weight: 600;
    font-family:cursive;
    transition: all;
    transition: 0.2s;
    color: black;
}

.buttons {
    display: flex;
    justify-content: space-evenly;
}

.winnermessage {
    width: 350px;
    display: flex;
    justify-content: center;
    border-radius: 4px;
    margin-bottom: 20px;
    background-color: #3a7034;
}

#winnerText {
    color: #e0df75;
    display: none;
}
.resetbutton {
    background-color: #070807;
    height: 50px;
    width: 120px;
    border: transparent;
    margin-bottom: 30px;
    border-radius: 4.5px;
    color:#f1f1e6;
    font-size:larger;
    font-weight: 600;
    transition: all;
    transition: 0.2s;
    margin-right: 40px;
}
.newbutton{
    background-color: #070807;
    height: 50px;
    width: 120px;
    border: transparent;
    margin-bottom: 30px;
    border-radius: 4.5px;
    color:#f1f1e6;
    font-size:larger;
    font-weight: 600;
    transition: all;
    transition: 0.2s;
}

.box:hover {
    width: 104px;
}
.resetbutton:hover {
    width: 124px;
}
.newbutton:hover {
    width: 124px;
}


